body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100vh;
  overflow: hidden;
  font-size: 14px;
  background-color: #f6f6f6;
  color: black;
  font-family: sans-serif;
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
